/app/webroot/tmp
/app/Config/core.php
/app/webroot/suchen
/app/webroot/schemes
/app/tmp
/lib/Cake/Console/Templates/skel/tmp/
/build
/dist
.DS_Store
/tags
.idea
!.git
!.gitignore
!/app
!/vendors
!/lib
!/plugins
!.htaccess
!index.php